*,::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s  linear;
  
  /* background: teal; */


}
.generateImg{
  width: 100px;
  height: 100px;
  display: block;

}